<div class="container">
    <h1>Appareils de la famille</h1>

    <div class="card">
        <h2>Ajouter un appareil</h2>

        <input [(ngModel)]="form.nom" placeholder="Nom de l'appareil (ex: Radio)" />
        <input [(ngModel)]="form.puissance_w" type="number" placeholder="Puissance (Watts)" />
        <input [(ngModel)]="form.heures_nuit" type="number" placeholder="Heures utilisation nuit" />

        <button (click)="ajouter()">Ajouter</button>
        <p class="msg" *ngIf="message">{{ message }}</p>
    </div>

    <div class="card">
        <h2>Liste des appareils</h2>

        <table>
            <thead>
                <tr>
                    <th>Appareil</th>
                    <th>Puissance (W)</th>
                    <th>H. Nuit</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let a of appareils">
                    <td>{{ a.nom }}</td>
                    <td>{{ a.puissance_w }} W</td>
                    <td>{{ a.heures_nuit }} h</td>
                    <td>
                        <button class="btn-sup" (click)="supprimer(a.id)">Supprimer</button>
                    </td>
                </tr>

                <tr *ngIf="appareils.length === 0">
                    <td colspan="4">Aucun appareil trouvé.</td>
                </tr>
            </tbody>
        </table>

        <button class="btn-calc" [disabled]="calculEnCours" (click)="calculer()">
            {{ calculEnCours ? 'Calcul...' : 'Calculer panneau et batterie' }}
        </button>

        <button class="btn-view" (click)="voirResultat()">Voir résultat</button>
    </div>
</div>